<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="booking.css"> 

    <title> VISBooking</title>
    <link rel="stylesheets" href="booking.css"> 
</head>

<body>
    <div class="outerbox">
        <div class="paragraphs"> 
            <h1 class="headeraviability">Booking aviability</h1>
            <p>Please choose the time frame you want to reserve the item for.</p>
        </div>
        <div class="calenderpart"> 
        </div>
    </div>
</body>