<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="booking.css"> 

    <title> VISBooking</title>
    <link rel="stylesheets" href="booking.css"> 
</head>

<body>
    <div class="outerbox">
        <div class="paragraphs"> 
            <h1 class="headeraviability">Booking aviability</h1>
            <p>Please choose the time frame you want to reserve the item for.</p>
            <button class="startTime" type="submit" name="submit" value="START" onclick="">Edit start time</button>
            <button class="endTime" type="submit" name="submit" value="END" onclick="">Edit end time</button>
        </div>
        <div id="calendar_right"  name="student_Calendar" class="off_color">
            <h4 class="calendar"> Calendar </h4>

            <table class="calendar"> 
                
                <thead class="color">
                    <tr>
                        <th colspan="7" class="">
                            <h3 id="cal_year" name="cal_year">{{year}}</h3>
                            <div>
                                <button type="submit" name="submit" value="PREMON"  onclick="" class="no_new_line">Pre</button>
                                <h4 id=cal_month class="no_new_line">{{mon}}</h4>
                                <button type="submit" name="submit" value="NEXTMON" onclick="" class="no_new_line">Next</button>
                            </div>
                        </th>
                    </tr>
                    
                    <tr>
                        <th class="">Sun</th>
                        <th class="">Mon</th>
                        <th class="">Tue</th>
                        <th class="">Wed</th>
                        <th class="">Thu</th>
                        <th class="">Fri</th>
                        <th class="">Sat</th>
                    </tr>
                </thead>

                <tbody id="table_body">
                    <tr>
                        <td> <button value="0" onclick="" type="submit" name="submit">{{day[0][0]}}</button> </td>
                        <td> <button value="1" onclick="" type="submit" name="submit">{{day[0][1]}}</button> </td>
                        <td> <button value="2" onclick="" type="submit" name="submit">{{day[0][2]}}</button> </td>
                        <td> <button value="3" onclick="" type="submit" name="submit">{{day[0][3]}}</button> </td>
                        <td> <button value="4" onclick="" type="submit" name="submit">{{day[0][4]}}</button> </td>
                        <td> <button value="5" onclick="" type="submit" name="submit">{{day[0][5]}}</button> </td>
                        <td> <button value="6" onclick="" type="submit" name="submit">{{day[0][6]}}</button> </td>
                    </tr>

                    <tr>
                        <td> <button value="7" onclick="" type="submit" name="submit">{{day[1][0]}}</button> </td>
                        <td> <button value="8" onclick="" type="submit" name="submit">{{day[1][1]}}</button> </td>
                        <td> <button value="9" onclick="" type="submit" name="submit">{{day[1][2]}}</button> </td>
                        <td> <button value="10" onclick="" type="submit" name="submit">{{day[1][3]}}</button> </td>
                        <td> <button value="11" onclick="" type="submit" name="submit">{{day[1][4]}}</button> </td>
                        <td> <button value="12" onclick="" type="submit" name="submit">{{day[1][5]}}</button> </td>
                        <td> <button value="13" onclick="" type="submit" name="submit">{{day[1][6]}}</button> </td>
                    </tr>

                    <tr>
                        <td> <button value="14" onclick="" type="submit" name="submit">{{day[2][0]}}</button> </td>
                        <td> <button value="15" onclick="" type="submit" name="submit">{{day[2][1]}}</button> </td>
                        <td> <button value="16" onclick="" type="submit" name="submit">{{day[2][2]}}</button> </td>
                        <td> <button value="17" onclick="" type="submit" name="submit">{{day[2][3]}}</button> </td>
                        <td> <button value="18" onclick="" type="submit" name="submit">{{day[2][4]}}</button> </td>
                        <td> <button value="19" onclick="" type="submit" name="submit">{{day[2][5]}}</button> </td>
                        <td> <button value="20" onclick="" type="submit" name="submit">{{day[2][6]}}</button> </td>
                    </tr>

                    <tr>
                        <td> <button value="21" onclick="" type="submit" name="submit">{{day[3][0]}}</button> </td>
                        <td> <button value="22" onclick="" type="submit" name="submit">{{day[3][1]}}</button> </td>
                        <td> <button value="23" onclick="" type="submit" name="submit">{{day[3][2]}}</button> </td>
                        <td> <button value="24" onclick="" type="submit" name="submit">{{day[3][3]}}</button> </td>
                        <td> <button value="25" onclick="" type="submit" name="submit">{{day[3][4]}}</button> </td>
                        <td> <button value="26" onclick="" type="submit" name="submit">{{day[3][5]}}</button> </td>
                        <td> <button value="27" onclick="" type="submit" name="submit">{{day[3][6]}}</button> </td>
                    </tr>

                    <tr>
                        <td> <button value="28" onclick="" type="submit" name="submit">{{day[4][0]}}</button> </td>
                        <td> <button value="29" onclick="" type="submit" name="submit">{{day[4][1]}}</button> </td>
                        <td> <button value="30" onclick="" type="submit" name="submit">{{day[4][2]}}</button> </td>
                        <td> <button value="31" onclick="" type="submit" name="submit">{{day[4][3]}}</button> </td>
                        <td> <button value="32" onclick="" type="submit" name="submit">{{day[4][4]}}</button> </td>
                        <td> <button value="33" onclick="" type="submit" name="submit">{{day[4][5]}}</button> </td>
                        <td> <button value="34" onclick="" type="submit" name="submit">{{day[4][6]}}</button> </td>
                    </tr>

                    <tr>
                        <td> <button value="35" onclick="" type="submit" name="submit">{{day[5][0]}}</button> </td>
                        <td> <button value="36" onclick="" type="submit" name="submit">{{day[5][1]}}</button> </td>
                        <td> <button value="37" onclick="" type="submit" name="submit">{{day[5][2]}}</button> </td>
                        <td> <button value="38" onclick="" type="submit" name="submit">{{day[5][3]}}</button> </td>
                        <td> <button value="39" onclick="" type="submit" name="submit">{{day[5][4]}}</button> </td>
                        <td> <button value="40" onclick="" type="submit" name="submit">{{day[5][5]}}</button> </td>
                        <td> <button value="41" onclick="" type="submit" name="submit">{{day[5][6]}}</button> </td>
                    </tr>
                </tbody>
                
            </table>
            
        </div>
    </div>
</body>