<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts.css"> 

    <title> Cancle </title>
    <link rel="stylesheet" href="fonts.css"> 
</head>

<body>
    <form action="/" method="POST">
        <div class="inbox">
            <div class="header">
                <h1> Cancle/Missing/Return </h1>
            </div> 
            <div class="button" > 
                <button class="button" type="submit" name="submit" onclick="" value="CANCLE"> Cancle Registration </button>
                <button class="button" type="submit" name="submit" onclick="" value="MISSING"> Missing </button>
                <button class="button" type="submit" name="submit" onclick="" value="Return"> Return </button>
            </div>

        </div>
    </form>
</body>