*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
}

.logininbox {
    width: 450px;
    padding: 40px; 
    background-color: #edab03e5; 
    border-radius: 12px;   
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fafafa;
}

h1{
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #191b20;
}

.inputbox {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.center{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.checkbox{
    text-align: center;
    margin-top: 0px;
}

.button{
    text-align: center;
    margin-top: 10px;
}

.buttonlogin{
    width: 70px;
    padding: 3px;
    color: rgb(0, 0, 159);
}

.signuplink {
    text-align: center;
    margin-top: 25px;
    color: #203a98;
}