<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>
  <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>
  <form action="/inventorycheck" method="POST">

    <!-- Header -->
    <header>
      <a><img src="logo.png" alt="Logo"></a>
      <button class="button" type="submit" name="submit" onclick="" value="LOGOUT">Log out</button>
    </header>
  
    <!-- Hauptinhalt -->
    <main>
      <h1>Inventory</h1>
  
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Available</th>
          </tr>
        </thead>
        <tbody>
          {% for item in kit_lists: %}
            <tr>
              <!-- unsure if this work need to test -->
                <td> <button class="button" type="submit" name="submit" onclick="" value={{item[0]}}>{{item[1]}}</button></td>
                <td> {{item[2]}} </td>
                <td> {{item[3]}} </td>
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    </main>
  
    <!-- Footer -->
    <footer>
      <p><a href="impressum.html">Impressum</a></p>
      <img src="logo.png" alt="Logo">
    </footer>
  
    <!-- Edit Button -->
    {% if user01.type == 'admin' %}
      <button class="inventory-button" type="submit" name="submit" value="ADD_ITEM">Add Item</button>
    {% endif %}
    <button class="button" type="submit" name="submit" onclick="" value="BACK">Back</button>
    <button class="button" type="submit" name="submit" onclick="" value="EDIT">Edit</button>
  </form>
</body>
</html>
