<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts.css"> 

    <title> VISinventory </title>
    <link rel="stylesheet" href="fonts.css"> 
</head>

<body>
    <div class="logininbox">
        <div class="loginheader">
            <h1> Login </h1>
        </div> 
        <div class="inputbox"> 
            <input class="text" id="username" placeholder="Email or username" class="username" autocomplete="off" required> <br> <br>
            <input type="text" id="password" name="password" placeholder="Password" class="center" autocomplete="off" required> <br> <br> <br>
        </div>
        <section class="checkbox">
            <input type="checkbox" id="check" ></input>
            <label for="check">Remember me</label>
        </section>
        <div class="button" > 
            <button class="buttonlogin" type="submit" name="submit" value="LOGIN"> Login </button>
        </div>
        <div class="signuplink">
            <a href='PLACEHOLDER'> Don't have an account? </a>
        </div>
        


    </div>
    <form action="/login" method="POST">
    </form>

</body>