<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> My Bookings</title>
  <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>
  <form action="/mybookings" method="POST">
  <!-- Header -->
  <header>
    <a><img src="logo.png" alt="Logo"></a>
    <button class="button" type="submit" name="submit" onclick="" value="LOGOUT">Log out</button>
  </header>

  <!-- Hauptinhalt -->
  <main>
    <h1>My Bookings</h1>

    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Start</th>
          <th>Ende</th>
        </tr>
      </thead>
      <tbody>
  {% for booking in bookings %}
    <tr>
      <!-- not sure about this need to test -->
      <td><button class="button" type="submit" name="submit" onclick="" value={{booking[0]}}>{{ booking[1] }}</buttom></td>
      <td>{{ booking[2] }}</td>
      <td>{{ booking[3] }}</td>
    </tr>
  {% endfor %}
</tbody>



    </table>

    <!-- Button innerhalb des Seitenflusses -->
    <button class="button" type="submit" name="submit" onclick="" value="INVENTORY">Inventory</button>
  </main>
  
  <!-- Footer -->
  <footer>
    <p><a href="impressum.html">Impressum</a></p>
    <img src="logo.png" alt="Logo">
  </footer>
  
</form>
</body>
</html>
